In [1]:
# Import Libraries
import pandas as pd

In [2]:
# Load Data
drought_df = pd.read_csv('State_Drought.csv')

drought_df

,MapDate,StateAbbreviation,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID
0,20221025,AK,100.00,0.00,0.00,0.00,0.00,0.0,2022-10-25,2022-10-31,1
1,20221018,AK,100.00,0.00,0.00,0.00,0.00,0.0,2022-10-18,2022-10-24,1
2,20221011,AK,100.00,0.00,0.00,0.00,0.00,0.0,2022-10-11,2022-10-17,1
3,20221004,AK,100.00,0.00,0.00,0.00,0.00,0.0,2022-10-04,2022-10-10,1
4,20220927,AK,99.25,0.75,0.00,0.00,0.00,0.0,2022-09-27,2022-10-03,1
...,...,...,...,...,...,...,...,...,...,...,...
2699,20211130,WY,0.00,100.00,96.61,64.51,16.87,0.0,2021-11-30,2021-12-06,1
2700,20211123,WY,0.00,100.00,92.82,64.34,11.24,0.0,2021-11-23,2021-11-29,1
2701,20211116,WY,0.00,100.00,92.07,62.58,10.93,0.0,2021-11-16,2021-11-22,1
2702,20211109,WY,0.00,100.00,92.07,63.53,12.89,0.0,2021-11-09,2021-11-15,1
2703,20211102,WY,0.00,100.00,92.07,63.53,13.60,0.0,2021-11-02,2021-11-08,1

In [3]:
# Check Null
drought_df.isnull().sum()

MapDate              0
StateAbbreviation    0
None                 0
D0                   0
D1                   0
D2                   0
D3                   0
D4                   0
ValidStart           0
ValidEnd             0
StatisticFormatID    0
dtype: int64

In [4]:
# Check Dtypes
drought_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2704 entries, 0 to 2703
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MapDate            2704 non-null   int64
 1   StateAbbreviation  2704 non-null   object
 2   None               2704 non-null   float64
 3   D0                 2704 non-null   float64
 4   D1                 2704 non-null   float64
 5   D2                 2704 non-null   float64
 6   D3                 2704 non-null   float64
 7   D4                 2704 non-null   float64
 8   ValidStart         2704 non-null   object
 9   ValidEnd           2704 non-null   object
 10  StatisticFormatID  2704 non-null   int64
dtypes: float64(6), int64(2), object(3)
memory usage: 232.5+ KB

In [5]:
# Change Types 
drought_df['StateAbbreviation'] = drought_df['StateAbbreviation'].astype('string')
drought_df['ValidStart'] = pd.to_datetime(drought_df['ValidStart'], errors = 'coerce')
drought_df['ValidEnd'] = pd.to_datetime(drought_df['ValidEnd'], errors = 'coerce')

# Check to see if Change Worked 
drought_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2704 entries, 0 to 2703
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MapDate            2704 non-null   int64
 1   StateAbbreviation  2704 non-null   string
 2   None               2704 non-null   float64
 3   D0                 2704 non-null   float64
 4   D1                 2704 non-null   float64
 5   D2                 2704 non-null   float64
 6   D3                 2704 non-null   float64
 7   D4                 2704 non-null   float64
 8   ValidStart         2704 non-null   datetime64[ns]
 9   ValidEnd           2704 non-null   datetime64[ns]
 10  StatisticFormatID  2704 non-null   int64
dtypes: datetime64[ns](2), float64(6), int64(2), string(1)
memory usage: 232.5 KB

In [9]:
# Change Column Names 
drought_df = drought_df.rename(columns = {'None': 'No drought' , 'D0' : 'Abnormally Dry' , 'D1':
                     'Moderate Drought', 'D2': 'Severe Drought', 'D3':
                     'Extreme Drought', 'D4': 'Exceptional Drought'})


drought_df

,MapDate,StateAbbreviation,No drought,Abnormally Dry,Moderate Drought,Severe Drought,Extreme Drought,Exceptional Drought,ValidStart,ValidEnd,StatisticFormatID
0,20221025,AK,100.00,0.00,0.00,0.00,0.00,0.0,2022-10-25,2022-10-31,1
1,20221018,AK,100.00,0.00,0.00,0.00,0.00,0.0,2022-10-18,2022-10-24,1
2,20221011,AK,100.00,0.00,0.00,0.00,0.00,0.0,2022-10-11,2022-10-17,1
3,20221004,AK,100.00,0.00,0.00,0.00,0.00,0.0,2022-10-04,2022-10-10,1
4,20220927,AK,99.25,0.75,0.00,0.00,0.00,0.0,2022-09-27,2022-10-03,1
...,...,...,...,...,...,...,...,...,...,...,...
2699,20211130,WY,0.00,100.00,96.61,64.51,16.87,0.0,2021-11-30,2021-12-06,1
2700,20211123,WY,0.00,100.00,92.82,64.34,11.24,0.0,2021-11-23,2021-11-29,1
2701,20211116,WY,0.00,100.00,92.07,62.58,10.93,0.0,2021-11-16,2021-11-22,1
2702,20211109,WY,0.00,100.00,92.07,63.53,12.89,0.0,2021-11-09,2021-11-15,1
2703,20211102,WY,0.00,100.00,92.07,63.53,13.60,0.0,2021-11-02,2021-11-08,1